.App {
  background-color: black;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.nav-link {
  text-align: center;
  padding-top: 1px;
}

.nav-link:hover {
  background-color: grey;
}

.navbar-collapse, .navbar-nav {
  max-height: inherit;
  padding-top: 2px;
}